<?php

// Настройки сайта
return [

	// Данные для подключения к БД
	'DB' => [
		'SERVER' => 'localhost',
		'NAME' => '',
		'USER' => '',
		'PASSWORD' => '',
	],

	// Режим разработки (Вывод дебага и ошибок)
	'DEV_MODE' => 1,

];
